# List of paths to ignore in sync

# Config files
*desktop.ini

# Heavy loads
pyproj/branch_sipm/Data/*
pyproj/branch_dcr/Data/*
pyproj/branch_dcr*/Plots*/*
pyproj/branch_dcr*/Plots*/
pyproj/branch_dcr_CLOSED/Data/*
pyproj/branch_dcr*/Data/*